{{>nav-left}}

<div id="content" class="p-4 p-md-5">
    {{>nav-top}}
    <h2 class="mb-4">{{title}}</h2>
    <table class="table" style="table-layout: fixed;width: 100%;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lot</th>
                <th scope="col">Photo</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Odometer</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each viewResult}}
            <tr>
                <th scope="row">{{math @index "+" 1}}</th>
                <th scope="row"><a target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.id}}</a>
                </th>
                <th scope="row"><a target="_blank" rel="noopener noreferrer" href="{{this.url}}"><img src="{{this.img}}"
                            alt="Image"></a></th>
                <th scope="row">{{this.make}}</th>
                <th scope="row">{{this.model}}</th>
                <th scope="row">{{this.year}}</th>
                <th scope="row">{{this.odometer}}</th>
                <th scope="row">{{this.price}}</th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>